[submodule "external/libqrencode"]
	path = external/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	branch = master
[submodule "external/quan-node"]
	path = external/quan-node
	url = https://github.com/quan-projects/quan-node.git
	branch = develop
