[Desktop Entry]
Encoding=UTF-8
Name=Asset QUAN - First Version wallet
GenericName=Asset QUAN - First Version wallet
Name[uk]=Asset QUAN - First Version wallet
Name[ru]=Asset QUAN - First Version wallet
Name[pl]=Asset QUAN - First Version wallet
Name[be]=Asset QUAN - First Version wallet
Name[de]=Asset QUAN - First Version wallet
Name[es]=Asset QUAN - First Version wallet
Name[pt]=Asset QUAN - First Version wallet
Comment=Asset QUAN - First Version wallet
Comment[uk]=Гаманець Asset QUAN - First Version wallet
Comment[ru]=Кошелек Asset QUAN - First Version wallet
Comment[pl]=Portfel Asset QUAN - First Version wallet
Comment[be]=Кашалёк Asset QUAN - First Version wallet
Comment[de]=Asset QUAN - First Version wallet Brieftasche
Comment[es]=Asset QUAN - First Version wallet Monedero
Comment[pt]=Asset QUAN - First Version wallet
Exec=q1v-wallet %U
Terminal=false
Type=Application
Icon=quan
MimeType=x-scheme-handler/quan;
Categories=Office;Finance;
Version=1.3.7
